
<html>
    {% load staticfiles %}
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/basic-style.css' %}">
    </head>

    <body>
        <div class="navbar">
            <ul class="nav">
                <li class="title-bar"><h2 class="title">Scrumboard</h2></li>
                <li class="choice-container"><a id="nav_choice" class="choice-link active" href="{%url 'dashboard' %}">My Dashboard</a></li>
                <li class="choice-container" style="float:right"><a id="nav_choice" class="choice-link logout" href="{%url 'sign-out' %}">Logout</a></li>
            </ul>
        </div>

        <div id="buttons-container">
            <a href="{{ board.get_absolute_url }}"><button class="btn btn-primary btn-access">Torna alla board</button></a>
        </div>
        <!-- Container -->
        <div id="container">

            <!-- Header -->
            <div id="header">
                <div id="branding">
                    <h1 id="Sign-in_title">Aggiungi colonna</h1>
                </div>
            </div>

            <div id="content-main">

            <form id="login-form" action="{%url 'add-column-post' %}" method="post">
            {% csrf_token %}
                  {% for field in form %}
                    <div class="form-row">
                        <label class="field-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            {{ field.errors }}
                        {% endif %}
                    </div>
                  {% endfor %}

                <div class="submit-row">
                    <button class="btn btn-primary btn-access" type="submit">Aggiungi</button>
                </div>
            </form>

            </div>
        </div>
    </body>
</html>